@import "index.scss";

.wrapper {
  background-color: $black;
  color: $white;
  overflow: hidden;

  .container {
    display: grid;
    @include grow-with-vw("gap", 24px, 48px);
    overflow: hidden;

    .heading {
      max-width: 909px;
      margin: auto;
      text-align: center;
      display: grid;
      @include grow-with-vw("gap", 6px, 12px);

      h3 {
        color: $white;
        font-weight: 700;
        @include grow-with-vw("font-size", 20px, 32px);
        @include grow-with-vw("line-height", 26.04px, 41.66px);
      }

      p {
        color: $grey-300;
        font-weight: 400;
        @include grow-with-vw("font-size", 16px, 20px);
        @include grow-with-vw("line-height", 20.83px, 26.04px);
      }
    }

    .footer {
      max-width: 1312px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include grow-with-vw("gap", 24px, 37px);

      div {
        display: grid;
        @include grow-with-vw("gap", 6px, 8px);

        h3 {
          font-weight: 700;
          @include grow-with-vw("font-size", 16px, 20px);
          @include grow-with-vw("line-height", 20.83px, 26.04px);
        }

        p {
          font-weight: 400;
          color: $grey-300;
          @include grow-with-vw("font-size", 14px, 18px);
          @include grow-with-vw("line-height", 18.23px, 23.44px);
        }
      }

      @include desktop {
        flex-direction: row;
      }
    }
  }
}
