@mixin spacing-x($value) {
  & > * {
    margin-right: $value;
    margin-left: $value;

    &:first-child {
      margin-left: 0;
      margin-right: $value;
    }

    &:last-child {
      margin-right: 0;
      margin-left: $value;
    }
  }
}

@mixin spacing-y($value) {
  & > * {
    margin-top: $value;
    margin-bottom: $value;

    &:first-child {
      margin-top: 0;
      margin-bottom: $value;
    }

    &:last-child {
      margin-bottom: 0;
      margin-top: $value;
    }
  }
}
