@import "./index";
@import "./layout";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: $black;
}

html,
body,
.app-wrapper {
  color: $white;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-fill-layout {
  flex: 1;
}

a {
  text-decoration: none;
}
