@import "index.scss";

.wrapper {
  .container {
    max-width: 1109px;
    margin: auto;
    h2 {
      text-align: center;
      @include grow-with-vw("margin-bottom", 48px);
      @include grow-with-vw("font-size", 32px);
      @include grow-with-vw("line-height", 41.66px);
    }

    .content {
      display: grid;
      align-items: center;
      @include grow-with-vw("gap", 32px, 116px);

      .contentImgWrapper {
        border-radius: 26px;
        border: 6px solid transparent;
        overflow: hidden;
        background: linear-gradient(137deg, #f7c05b 35%, #f46f2c, #f2340b)
          border-box;
        @include grow-with-vw("height", 382px);

        .contentImg {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
        }
        @include desktop {
          order: 2;
        }
      }

      p {
        @include grow-with-vw("font-size", 24px);
        @include grow-with-vw("line-height", 31.25px);
      }

      @include desktop {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
