@import "index.scss";

.wrapper {
  all: unset;
  cursor: pointer;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.Filled {
    background-color: $primary-color;
  }

  &.Outline {
    background-color: transparent;
    border: 2px solid $primary-color;
  }

  &.isDisabled {
    background-color: $grey-300 !important;
    color: $grey-500 !important;
    cursor: not-allowed;
  }

  &.isLoading {
    opacity: 0.5;
    cursor: not-allowed;
  }

  svg {
    @include grow-with-vw("width", 20px);
    @include grow-with-vw("height", 20px);
  }

  @include grow-with-vw("gap", 10px);
  @include grow-with-vw("font-size", 16px, 14px);
  @include grow-with-vw("line-height", 18.23px, 14px);
  @include grow-with-vw("padding", 12px, 12px, "y");
  @include grow-with-vw("padding", 24px, 24px, "x");
}

.svgFilters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button__container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  pointer-events: none;
  z-index: -1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  .button__bg,
  .circle {
    -webkit-animation: hue-rotate 10s linear infinite;
    -moz-animation: hue-rotate 10s linear infinite;
    animation: hue-rotate 10s linear infinite;
  }

  .button__bg {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #222;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;

    &.topLeft {
      top: 40%;
      left: 27%;
    }
    &.topRight {
      bottom: 40%;
      right: 27%;
    }
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
